html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: "poppins", Arial, sans-serif;
}

main {
    min-height: 100vh;
    padding-bottom: 100px;
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    gap: 5px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 70px;
    background-color: #e4fafd;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4); /* Dark shadow with some blur */
}
.search-container{
    border-radius: 20px 0 0 20px;
    width: 60%;
    height: 40px;
    font-size: 20px;
    margin-right: 5px;
    padding-left: 10px;
    font-family: "poppins", Arial, sans-serif;
}

.magnifying-glass{
    height: 30px;
    width: auto;
}

.search-button{
    border-radius: 0 20px 20px 0;
    border: 0px;
    box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.1);
    height: 46px;
    padding: 6px;
    background: linear-gradient(to right, #FDC830, #F37335);
}

.content{
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.5s ease;
    overflow: hidden;
}

.content.visible{
    opacity: 1;
    visibility: visible;
    max-height: 900px;
    overflow: visible;
}

.date-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-content > .location{
    margin: 0px;
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.date-content > .date{
    margin: 0px;
    color: white;
}

.date-content > #time{
    color: white;
    margin: 0px;
    font-size: 40px;
}

.grid-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.first-box{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 150px;
    border-radius: 20px;
    background-color: #e4fafd;
    margin-bottom: 5px;
}

.flex-first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-box{
    display: flex;
    width: 85%;
    height: 120px;
    margin-bottom: 5px;
}

p{
    margin: 0;
}

.second{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-top{
    display: flex;
    justify-content: center;
}

.flex-bottom{
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.category{
    font-weight: bold;
}
.text{
    transform: translateY(7px);
}


.third-box{
    display: flex;
    width: 85%;
    height: 100px;
    margin-bottom: 5px;
}

.third{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-img{
    padding-right: 5px;
    width: 40px;
    height: auto;
}

.current-weather{
    border-radius: 20px;
    background-color: #e4fafd;
}

.humidity{
    border-radius: 20px;
    background-color: #e4fafd;
}

.windspeed{
    border-radius: 20px;
    background-color: #e4fafd;
}

.highest-temperature{
    border-radius: 20px;
    background-color: #e4fafd;
}

.sunrise{
    border-radius: 20px;
    background-color: #e4fafd;
}

.sunset{
    grid-column: 4 / 7;
    grid-row: 4;
    border-radius: 20px;
    background-color: #e4fafd;
}


.weather-container-container{
    justify-content: center;
    display: flex;     
    overflow: auto;       
}

.weather-container{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 85%;
    height: 600px;
    overflow: auto;
}   

.title{
    font-family: "poppins", sans-serif;
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 10px;

}

.day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    transition: height 0.5s ease;
    background-color: #e4fafd;
    padding-bottom: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.day-week{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 20px;
    width: 85%;
    height: 300px;
    font-family: "poppins", sans-serif;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.day-name{
    margin-left: 10px;
}

.temperature{
    margin-right: 10px;
}

.center-loading{
    display: flex;
    justify-content: center;
}

.loading-screen {
    width: 85%; 
    max-height: 0px;
    background-color: #e4fafd;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    font-family: "poppins", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: top 0.5s ease;
    opacity: 0; 
    visibility: hidden;
    transition: max-height 0.4s ease, opacity 1s ease, visibility 1s ease;
    overflow: hidden;
    
}

.loading-screen.visible {
    max-height: 500px; /* Expand height */
    opacity: 1; /* Fade in */
    visibility: visible; /* Allow interaction */
}

.loader {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Spinning animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}